img {
    border-radius: 400px;
    width: 400px;
    height: 400px;
    margin-top: -150px;
}

aside{
    float: right;
}

nav {
    float: right;
    padding:0px 100px 0px 100px;

}

nav a {
     margin-left: 20px ;

}

nav a{
    font-weight: bolder;
    color: black;
}

h1 {
    font-weight: bold;
    font-size: 40px;
}

section {
    padding:0px 100px 0px 100px;
}

header {
    padding:0px 100px 0px 100px;
}

.button input {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 31, 210);
    border-radius: 10px;
    width: 100px;
    height: 40px;
}

footer {
    padding:190px 100px 0px 100px;
}

footer a {
    margin-left: 10px ;
    color:black;

}

nav a:hover {
    color: rgb(255, 31, 210);
    text-decoration: underline;
    transition: color 0.2s;
}